.additionally {
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;

  border: 1px solid #ededed;

  @media (min-width: $tablet-width) {
    width: 324px;
    padding-left: 37px;
    padding-right: 37px;
    padding-bottom: 40px;
  }
}

.additionally__icon {
  position: relative;
  display: block;
  width: 31px;
  height: 31px;
  margin: 0 auto;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    width: 61px;
    height: 61px;
    margin-bottom: 50px;
  }

  &::before,
  &::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;

    background-color: #e6e6e6;
  }

  &::after {
    transform: rotate(90deg);
  }
}

.additionally__title {
  display: block;

  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #000;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    display: block;
    width: 140px;
    margin: 0 auto;
    margin-bottom: 28px;

    font-size: 20px;
  }
}

.additionally__description {
  margin-bottom: 25px;

  font-family: $second-font;
  font-size: 12px;
  line-height: 16px;

  text-align: center;

  @media (min-width: $tablet-width) {
    width: 170px;
    margin: 0 auto;
    margin-bottom: 85px;

    font-size: 16px;
  }
}

.additionally__btn {
  @media (min-width: $tablet-width) {
    width: 250px;
  }
}

