.button {
  @include button-reset;
  display: block;
  width: 100%;

  padding-top: 11px;
  padding-bottom: 11px;
  background-color: #68b738;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}

.button--silver {
  background-color: #f2f2f2;
  color: #444444;
}
