.catalog-item {
  padding-top: 20px;
}

.catalog-item__title {
  margin: 0;
  padding: 0;
  fonr-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000;
}

.catalog-item__list {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: #444;
}
