.green-line {
  position: relative;
  z-index: 1;
  width: 100%;

  &::after {
    content: "";
    position: absolute;
    top: 15px;
    left: 0;
    height: 3px;
    width: 100vw;
    background-color: #68b738;
    z-index: -1;

    @media (min-width: $tablet-width) {
      top: 21.5px;
    }
  }

  &::before {
    @media (min-width: $tablet-width) {
      content: "";
      position: absolute;
      top: 21.5px;
      right: 0;
      height: 3px;
      width: 100vw;
      background-color: #68b738;
      z-index: -1;
    }
  }
}
