.main-page {
  flex-grow: 1;

  background-color: #ffffff;
}

.main-page__title {
  margin: 0;
  margin-bottom: 35px;
  padding: 18px 22px 0;

  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  color: #000000;
  text-align: left;

  @media (min-width: $tablet-width) {
    padding: 0;
    margin-bottom: 56px;
    font-size: 60px;
    text-align: left;
  }
}

.main-page__title--big-margin {
  @media (min-width: $tablet-width) {
    margin-bottom: 156px;
  }
}

.main-page__promo {
  margin-bottom: 23px;

  @media (min-width: $desktop-width) {
    margin-bottom: 80px;
  }
}

.main-page__category {
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    margin-bottom: 51px;
  }
}

.main-page__advantages {
  margin-bottom: 25px;
}

.main-page__catalog {
  margin-bottom: 31px;

  @media (min-width: $desktop-width) {
    margin-bottom: 79px;
  }
}

.main-page__aside {
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    margin-bottom: 76px;
  }
}
