.main-page {
  background-color: #fff;
}

.main-page__title {
  margin: 0;
  margin-bottom: 35px;
  padding-top: 18px;
  padding-left: 22px;
  padding-right: 40px;

  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  color: #000;

  @media (min-width: $tablet-width) {
    padding: 0;
    width: 708px;
    margin: 0 auto;
    margin-bottom: 156px;
    font-size: 60px;
  }
}

.main-page__promo {
  margin-bottom: 23px;

  @media (min-width: $desktop-width) {
    margin-bottom: 80px;
  }
}

.main-page__category {
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    margin-bottom: 51px;
  }
}

.main-page__advantages {
  margin-bottom: 25px;
}

.main-page__catalog {
  margin-bottom: 31px;
}
