.main-nav--opened {
  @media (max-width: 767.9px) {
    display: block;
  }
}

.main-nav--close {
  @media (max-width: 767.9px) {
    display: none;
  }
}


.main-nav--nojs {
  @media (max-width: 767.9px) {
    display: block;
  }
}

.main-nav__list {
  @include list-reset;
  @media (min-width: $tablet-width) {
   // убрал ширину по советам наставника width: 440px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    // Задал макс ширину что бы если пункт меню будет слишком широкий он не выпадал из зелёного фона и был всегда виден.
    max-width: 610px;
  }
}

// Добавляет отступ справа для пунктов меню в навигации шапки, но у последнего пункта отступа нету.
.main-nav__item {
  @media (min-width: $tablet-width) {
    &:not(:last-child) {
      margin-right: 35px;
    }
  }
}

.main-nav__link {
  display: block;
  padding: 20px;

  border-bottom: 1px solid #e6e6e6;

  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;

  color: #000;

  &[href]:hover,
  &[href]:focus {
    opacity: 0.6;
  }

  &[href]:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    padding: 12px 0;

    border-bottom: none;

    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    z-index: 10;

    font-size: 20px;
    font-weight: 400;
  }
 }

 .main-nav__link--active {
    @media (min-width: $tablet-width) {
      border-bottom: 2px solid #68b738;
    }
 }


// На главной странице у пунктов меню на десктопе должен быть белый цвет текста и подчёркивания, что отличается от остальных страниц.
 .main-nav__link--index {
  @media (min-width: $desktop-width) {
    color: #fff;
    border-color: #fff;
  }
 }

