.promo {
  padding-top: 29px;
  color: #fff;
  background-color: #65a93c;
  background-image: url(../../img/index-background-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-size: 320px 305px;
  background-position: 0 0;

}

.promo__title {
  margin: 0;
  padding: 0;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}

.promo__slogan {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
}


